body {
    background-color: #eeeeee;
}

.color_main {
    background-color: #7e86d6;
}

.color_green {
    background-color: rgb(20, 163, 115)
}

.color_purple {
    color:#8279cb
}


.color_second {
    background-color: #3C3C3C;
}

.color_third {
    background-color: #b6b1c9;
}

.navStyle {
    /* background-color: #777EC0; */
    background-color: #d4dce6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}


.bnDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.button1 {
    background-color: rgb(104, 104, 104);
    color: white;
    margin: 5px;
    border-radius: 30px;
}

.div1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

h3 {
    font-size: larger;
    font-weight: 700;
}

.formStyle {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-left: 24px;
    margin-right: 24px;

}

input {
    border: 0.5px solid rgb(145, 160, 187);
    height: 40px;
    padding-left: 15px;
}

.loginCTA {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.loginCTA button {
    background-color: #6386bb;
}

.items-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.items-section img {
    height: 200px;
    /* width: 300px; */
    margin: 20px 20px 5px 20px;
    background-size: cover;
}

.card {
    text-align:center;
}

#title-categories {
    color: rgb(95, 95, 175);
    font-size: xx-large;
}


.profileIconDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 10px 10px 10px;
}

ion-icon {
    font-size: 50px;
    color: #7b7b7b;
}

.navbar-end ion-icon {
    font-size: 35px;
    color:rgb(66, 65, 65);
    margin-right: 10px;
}



footer {
    /* display: flex; */
    background-color: #d2d2d2;
    height: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}

.footerDiv ion-icon {
    font-size: 28px;
    margin-bottom: 5px;
    color:#3c3c3cba;
}

.footerDiv p {
    font-weight: 600;
    color:#434343;
}

.displayNone {
    display: none;
}

.profilepage1 {
    height: 170px;
    z-index: 1;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.304), 0 6px 10px 0 rgba(0, 0, 0, 0.278);
}

.profilepage2 {
    height: 90px;
    position: absolute;
    left: 245px;
    top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.304), 0 6px 20px 0 rgba(0, 0, 0, 0.278);
}

.profilepage3 {
    height: 90px;
    position: absolute;
    right: 245px;
    top: 50px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.304), 0 6px 20px 0 rgba(0, 0, 0, 0.278);
}

.buttonProfile2 {
    background-color: #a0aec0;
    color: #3C3C3C;
}

.logoStyle {
    height: 40px;
}

textarea {
    border: 0.5px solid rgb(145, 160, 187);
}

.loginPar {
    color: rgb(0, 204, 184)
}

.uploadImgDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}


.orderDiv {
    height: 60px;
    width: 60%;
    border: 0.5px solid rgb(145, 160, 187);
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    /* gap: 20px; */
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.orderPic ion-icon {
    height: 40px;
    color: #3C3C3C;
}
 
.balanceDiv {
    height: 50px;
    margin: 10px 24px 24px 24px;
    width: 90%;
    background-color:#d3e6d3;
    /* border-radius: 30px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom:100px;
}

.balanceDiv h2 {
    font-weight: 700;
    color:#3C3C3C;
}

.itemInfoImg {
    width: 80%;    
    height: 80%;
    margin: 24px 24px 0px 24px;
}

.itemInfoTxt {
    margin-left: 24px;
    margin-right: 24px;
    text-align:start;
    line-height: 30px;
}

.itemInfoTxt h3 {
    font-size: x-large;
    margin-bottom: 10px;
}

.itemInfoTxt h4 {
    font-size: large;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

.orderIcon ion-icon {
    color: rgb(22, 180, 127);
    font-size: 60px;
}

.loginImg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginImg img {
    height: 270px;
    width: 100%
}

.imgCollOrders {
    height: 120px;
    width: 120px;
    background-repeat: no-repeat;
}


.myCollectionsDiv {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.deleteBtn {
    background-color: #d7d7d7;
    color: rgb(48, 47, 47);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    height: 30px;
    width: 120px;
    padding-right: 28px;
    margin-top: 10px;
    font-weight: 600;
}

.deleteBtn ion-icon {
    color: rgb(73, 71, 71);
    height: 17px;
}

.uploadBtn {
    background-color: #575252;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    height: 30px;
    width: 130px;
    padding-right: 28px;
    margin-top: 7px;
    font-weight: 600;
}

.uploadBtn ion-icon {
    color: whitesmoke;
    height: 17px;
}


.uploadDiv {
    display: flex;
    flex-direction: column;
}


.allCollectionsDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
}

.allOrdersDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    /* .aboutMainDiv */

    .displayNone {
        display:initial;
        height: 10px;
        color:#3C3C3C;
        width: 100%;
        padding-left:10px
    }

    footer {
        position:initial;
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        direction: column;
        background-color: #656773;
      
    }

    .footerDiv p {
        color: whitesmoke;
    }

    .footerDiv ion-icon {
        color: whitesmoke;
    }

    .footerDiv {
        gap: 70px;
    }

    .footerDiv ion-icon {
        font-size: 22px;
    }
    
    .navStyle {
        background-color: #ffffff;
        position: sticky;
        top:0
    }

    .emptyDivHomepage {
        height: 300px;
        width: 300px;
        background-size: cover;
        background-image: url("https://ik.imagekit.io/tkvucxczh/ReDI_School__Final_project__Art_Marketplace_/monet.jpg?updatedAt=1688054207384");
    }

    .div1 {
        display: flex;
        flex-direction: row;
        gap: 90px;
    }

    body {
        background-color: #c3c8f2;
    }

    .bnDiv button {
        height: 30px;
        width: 30px;
        background-color: #ffffff;
        color: #3C3C3C;
        padding: 0;
        margin-top: 0;
    }


    .color_purple {
        color: #292626;
    }

    .collectArt {
        padding-right: 100px;
        padding-top: 20px;
    }


    .whatIsArtby {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 110px;
    }



}